services:
    menuCmpModel:
        class: App\Components\MenuCmp\Model\Menu
    polozkyMenuCmpModel:
        class: App\Components\MenuCmp\Model\PolozkyMenu
    menuCmp:
        class: App\Components\MenuCmp\MenuCmpFactory
        inject: yes

production < common:

development < common: